/*
© Copyright 2020 by Vladislav Zhylenko
** - Default CSS
** - Main Area
** - Left Instruction
** - Form Area
** - Responsive
*/

/*================================================
Default CSS
=================================================*/
@font-face {
	font-family: 'AG Friquer - Roman';
	src: url(../../fonts/agfriquerc.otf);
	
}

body{
	font-family: "AG Friquer - Roman";
	margin: 0;
	padding: 0;
	position: relative;
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

img {
 	max-width: 100%;
  	height: auto;
}

a {
  	text-decoration: none;
  	outline: 0 !important;
  	color: black;
}

p{
	margin: 0;
}

button {
  	outline: 0 !important;
}

li{
	list-style-type: none;
}

ul{
	margin: 0;
	padding:0;
}

strike{
	color: #989898;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

img::selection {
  	background: #585858;
  	color: white;
}

a::selection {
	background: #585858;
  	color: white;
}

p::selection{
	background: #585858;
  	color: white;
}

button::selection {
	background: #585858;
  	color: white;
}

li::selection{
	background: #585858;
  	color: white;
}

input::selection{
	background: #585858;
  	color: white;
}

textarea::selection{
	background: #585858;
  	color: white;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}
.container {
	margin: 0px 100px auto;
}


/*================================================
First page
=================================================*/

/*================================================
background
=================================================*/
.bg-blick {
	position: absolute;
	right: 0px;
	top: 0px;
}
.bg-blick div {
	width: 150px;
	height: 150px;
	background: #3a712a;
	position: absolute;
  right: 0;
	top: 10px;
	filter: blur(50px);
}
.bg-blick div:first-child {
	top: 170px;
	right: 280px;
}
.bg-blick div:last-child {
	top: 380px;
	right: 6px;
}


/*================================================
Main Area
=================================================*/
.wrap {
	/* min-height: 100vh; */
	margin-top: 60px;
}
.main-area {
	/* background: url('../img/map.png') no-repeat;
	background-size: cover;
	background-attachment: fixed; */
	/* background-position: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0px 110px 60px 110px;
	/* height: 90vh; */
}
.main-areaa__image {
	position: relative;
	justify-content: center;
	align-items: center;
  display: flex;
}
.main-areaa__image__present {
	z-index: 3;
	width: 85%;
}
.main-areaa__line {
	position: absolute;
	left: -15px;
	bottom: 10px;
	z-index: -1;
}
/* .main-area__bg-line {
	position: absolute;
	top: 21%;
	left: 0;
	z-index: 1;
	width: 90%;
} */

.main-areaa {

}
.main-areaa__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -150px;
}
.main-areaa__bottom__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-areaa__bottom__left img {
	height: 80px;
	margin-bottom: 15px;
}
.main-area__title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-shadow: 1px 6px 12px rgba(25, 23, 28, 0.658);
	color: #ffffff;
	font-family: "AG Friquer - Roman";
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 3;
	margin-bottom: -6%;
}
.main-area__title span {
	text-shadow: 2px 6px 18px rgba(14, 13, 13, 0.829);
	color: #fff200;
	font-size: 80px;
	line-height: 103.99px;
	font-weight: bold;
}
.main-area__title__logo {
	margin-top: 0px;
	width: 250px;
	margin-right: -30px;
	z-index: 10;
}
.main-area__title span {
	text-shadow: 2px 6px 18px rgba(14, 13, 13, 0.829);
	color: #fff200;
	font-size: 80px;
	line-height: 103.99px;
	font-weight: bold;
}

/*================================================
Right-Block
=================================================*/
.main-area__right-block {
	position: absolute;
	right: 30px;
	bottom: 25px;
}
.main-area__atb {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	display: flex;
  justify-content: center;
	align-items: flex-end;
	text-align: right;
}
.main-area__atb img {
	margin-left: 15px;
	max-width: 100px;
}


/*================================================
Left-Block
=================================================*/


.main-area__left-block {
	position: absolute;
	left: 30px;
	bottom: 25px;
}
.main-area__logos {
	display: flex;
	flex-direction: column;
}
.main-area__logos img {
	width: 200px;
	margin-bottom: 20px;
}
.main-area__logos img:last-child {
	margin-bottom: 0;
}
.sh-image {
	height: 103px!important;
}

/*================================================
Footer
=================================================*/


.footer {
	background: #36742c;
	padding-bottom: 36px;
	padding-top: 40px;
	position: relative;
	z-index: 3;
	/* height: 30vh; */
}
.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__dashed {
	position: absolute;
	top: 1px;
	left: 0;
}
.footer__social img{
	width: 50px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 25px;
}
.footer__phone {
	color: #ffffff;
	font-family: "AG Friquer - Roman";
	font-size: 18px;
	font-weight: 400;
}
.footer__hr {
	border: none;
	border-top: 0.1px solid white;
}
.footer__descr {
	margin-top: 32px;
	color: #ffffff;
	font-family: "Times Armenian PSMT";
	font-size: 14px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.footer__descr p {
	width: 80%;
}
.footer__copy{
	margin-top: 20px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.footer__copy img{
	margin-top: 5px;
}
.footer__descr p {

}

/*================================================
Form Area
=================================================*/

.form-area{
	position: fixed;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	opacity: 0;
	transition: .2s;
	justify-content: center;
	align-items: center;
}

.form-area .form-block{
	position: relative;
	width: calc(90% - 60px);
	padding: 50px 30px;
	border-radius: 20px;
	min-width: 250px;
	max-width: 350px;
	background: #fafafa;
}

.form-area .form-block .close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 100;
	cursor: pointer;
}

.form-area .form-block .close span{
	position: absolute;
	width: 30px;
	height: 3px;
	background: #484848;
	border-radius: 3px;
}

.form-area .form-block .close span:nth-child(1){
	transform: rotate(45deg) translate(10px, 10px);
}

.form-area .form-block .close span:nth-child(2){
	transform: rotate(-45deg) translate(-10px, 10px);
}

.form-area .form-block form{
	display: flex;
	flex-direction: column;
}

.form-area .form-block form .form-title{
	width: 100%;
	font-size: 24px;
	text-align: center;
	color: #36742c;
	font-weight: bold;
	padding: 10px 0;
	font-family: Arial;
}

.form-area .form-block form input{
	outline: none;
	border: 1px solid #293133;
	border-radius: 100px;
	background: #fafafa;
	font-family: Arial;
	padding: 10px;
	font-size: 14px;
	color: #000000;
	transition: .2s;
	margin: 10px 0;
}

.form-area .form-block form input:focus{
	background: #E8E8E8;
}

.form-area .form-block form button{
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 100px;
	background: #36742c;
	font-family: Arial;
	font-weight: bold;
	padding: 10px;
	font-size: 14px;
	color: #fafafa;
	transition: .2s;
	margin: 10px 0;
}

.form-area .form-block form button:hover{
	background: #35682D;
}

.form-area .form-block form button:active{
	transform: scale(.95);
}

.form-area .form-block form input[type="checkbox"]{
	width: auto;
	display: inline;
}

.form-area .form-block form label{
	font-family: Arial;
	font-size: 14px;
	color: black;
}

.result-text{
	font-size: 14px;
	color: red;
	font-weight: bold;
	font-family: Arial;
}

/*================================================
	Wrapper
=================================================*/
.wrapper {
	position: relative;
}
.content {

}
/*================================================
	content-nav
=================================================*/
.content-nav {
	display: flex;
	justify-content: space-between;
	padding: 30px 30px 0px 25px;
}
.content-stock {
	text-shadow: 0 5px 5px rgba(25, 23, 28, 0.38);
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Start Winners-Block */
.winners-block {
	position: absolute;
	border-radius: 15px;
	height: 300px;
	width: 350px;
	background: rgb(243, 243, 243);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px;
	left: -310px;
	top: 50px;
	z-index: 5;
}
.winners-block__title {
	font-size: 32px;
	font-weight: bold;
	font-family: "AG Friquer - Roman";
	margin-bottom: 100px;
	color: #36742c;
}
.winners-block__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.winners-block__list__item {
	margin-bottom: 10px;
}
.winners-block__list__item a {
	color: #36742c!important;
}

/* End Winners-Block */
.content__logo {

}
.content__logo img {
	max-width: 400px;
}
.content__list {
	display: flex;
}
.content__list__item {
	margin-right: 20px;
	position: relative!important;
}
.content__list__item:last-child {
	margin-right: 0px;
}
.content__list__item a {
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	color: #fff200;
}

/*================================================
	content-body
=================================================*/


.content-card__wrap {
	flex: 1;
}
.content-card {
	width: 97%;
	margin-bottom: 10px;
	padding: 10px 5px 10px 0px;
	background: #36742c;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #ffffff;
	font-size: 16px;
	border: 2px dashed #b3b3b3;
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 80px;
	/* width: 112%; Что бы уменьшить ширину убрал */
	position: relative;
}
.content-card img {
	height: 93px;
	margin-right: 2px;
}
.content-card__image:first-child {
	flex-basis: 50%;
}
.content-card__num {
	position: absolute!important;
	width: 25px!important;
	height: 25px!important;
	top: calc(50% - 12.5px);
	right: -10px;
}
.content-card__image {
	position: relative;
	margin-right: 15px;
	margin-left: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.content-card__title {
	/* margin-right: 12px; */
	flex-basis: 50%;
	width: 100%;
}
.content-card__wrap {
	flex-direction: column;
}
.content-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.content__btn {
	margin-top: 60px;
	box-shadow: 0 0 18px 1px #ffffff;
	background-color: #fff200;
	color: #ed1d24;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px 40px;
	border-radius: 10px;
	cursor: pointer;
}

.content-descr {
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 120px;
	background: #6db52f;
	padding: 30px 70px;
	text-shadow: 0 6px 12px rgba(25, 23, 28, 0.56);
	color: #ffffff;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 20px;
	margin-bottom: 100px;
}
.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 3;
}
.content-descr span {
	color: #fff200;
	font-size: 35px;
}
/*================================================
	content-right__image
=================================================*/

.content-image {
	flex: 1;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.content-image{
	animation-name: updown;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes updown {
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(20px);
	}
}
.content-image img {
	width: 100%;
}


/*================================================
Responsive
=================================================*/

@media (max-width: 1334px) { 
.content-card img {
	height: 90px;
	margin-right: 10px;
}
.content-descr {
	font-size: 33px;
}
}
/* 1200 */
@media (max-width: 1400px) { 
	.main-areaa__bottom__left img {
    height: 60px;
    margin-bottom: 15px;
}
.main-areaa__bottom {
	margin-top: -90px;
}
}
/* 992 */
@media (max-width: 1200px) { 
	.content-card {
		width: 110%;
	}
	.main-areaa__bottom__left img {
    height: 65px;
    margin-bottom: 15px;
}
.sh-image {
	height: 93px!important;
}
	.main-area__title span {
		font-size: 67px;
	}
	.main-area__title {
		font-size: 39px;
	}
	.main-area__main-present img {
    max-width: 720px;
	}
	.main-area__logos img {
		width: 170px;
	}
	.main-area__atb {
		font-size: 15px;
		line-height: 19px;
	}
	.main-area__atb img {
		margin-left: 15px;
		max-width: 80px;
	}
	.footer__social img {
    width: 35px;
}
.footer__phone {
	font-size: 16px;
}
.footer__descr {
	font-size: 15px;
}
.area__bg-line {
	top: 15%;
}
.content-image img {
	width: 300px;
}
.content-card__wrap {
	position: absolute;
	left: 0;
	bottom: 0;
}
.content-card img {
	height: 80px;
}
.content-image {
	position: absolute;
	bottom: 0;
	right: 0;
}
.content-image img {
	width: 320px;
}
.content-descr {
	margin-top: 30px;
}
.content__logo img {
	max-width: 290px;
}
.content-center {
	margin-bottom: 390px;
}

}

@media (max-width: 1080px) {  
	.content-card img {
		height: 75px;
}
.content-card {
	height: 85px;
}
}

/* 768 */
@media (max-width: 992px) {  
	.winners-block {
		height: 250px;
		width: 290px;
		left: -230px;
	}
	.winners-block__title {
		margin-bottom: 70px;
		font-size: 29px;
}
	.main-areaa__bottom__left img {
    height: 60px;
    margin-bottom: 15px;
}
	.main-area {
    padding: 0px 20px 60px 30px;
}
	.main-areaa__bottom__left img {
    height: 70px;
    margin-bottom: 15px;
}
	.main-areaa__bottom {
    display: flex;
    justify-content: space-between;
		align-items: center;
		margin-top: 10px;
}
	.wrapper {
    padding-bottom: 0px;
    height: 100%;
}
	.main-area__title span {
    font-size: 55px;
	}
	.main-area__title {
    font-size: 31px;
	}
	.main-area__title__logo {
    margin-top: -10px;
	}
	.main-area__main-present img {
		max-width: 600px;
	}
	.main-area__logos {
    flex-direction: row;
	}
	.main-area__logos img{
		width: 150px;
		height: 50px;
		margin-right: 20px;
	}
	.main-area__left-block {
    position: absolute;
    left: 20px;
    bottom: 0px;
	}
	.main-area__atb img {
		margin-left: 10px;
		max-width: 60px;
	}
	.main-area__atb {
    font-size: 14px;
    line-height: 19px;
	}
	.container {
    margin: 0px 30px auto;
}
.content-image img {
	width: 260px;
}

.content-descr {
	margin-top: 20px;
	font-size: 22px;
}
.content__logo img {
	max-width: 300px;
}
.content-card img {
	height: 80px;
}
.content__bottom {
	margin-top: -20px;
	position: relative;
}
.footer__descr p {
	width: 90%;
}
}
/* 576  */
@media (max-width: 768px) { 
	.winners-block {
    height: 220px;
    width: 230px;
    left: -160px;
}
	.main-areaa__bottom__left img {
    height: 50px;
    margin-bottom: 10px;
}
.sh-image {
	height: 75px!important;
}
	.main-area__main-present img {
    max-width: 550px;
}
	.main-area__title span {
		font-size: 44px;
	}
	.footer__hr {
		margin-bottom: -10px;
	}
	.footer__descr p {
    width: 95%;
}
	.main-area__title {
    font-size: 22px;
	}
	.main-area__title__logo {
			margin-top: -20px;
	}
	.main-area__title__logo {
    width: 200px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.main-area__logos img {
	    width: 130px;
	    height: 50px;
	    margin-right: 10px;
	}
	.footer__descr {
		font-size: 13px;
	}
	
	.content-image img {
		width: 220px;
	}
	.content-descr {
    margin-top: 30px;
    font-size: 22px;
}
	.content-descr span {
		font-size: 30px;
	}
	.content-card img {
    height: 85px;
}
	.content-stock {
    font-size: 16px;
	}
	.content__list__item a {
		font-size: 16px;
	}
	.content__btn {
		font-size: 19px;
	}
	.content__bottom {
		margin-top: -60%;
	}
}
@media (max-width: 710px) { 
	.main-area__main-present img {
		max-width: 560px;
	}
}

@media (max-width: 576px) { 
	.winners-block {
    height: 190px;
    width: 230px;
    left: -150px;
    top: 30px;
}
.winners-block__title {
	margin-bottom: 40px;
	font-size: 25px;
}
.main-area__body {
	padding-top: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	margin-bottom: -220px;
}
.bg-blick {
	top: 350px;
}
	.content-card__num {
    position: absolute!important;
    width: 25px!important;
		height: 25px!important;
	}
}

@media (max-width: 508px) { 
	.content-center {
	    margin-bottom: 260px;
	}

}
@media (max-width: 530px) { 
@media (max-width: 400px) { 
	.content-center {
    margin-bottom: 260px;
}
.content-image img {
	width: 165px;
}
.wrap {
	margin-top: 60px;
}
.main-area__body {
	padding-top: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	margin-bottom: -110px;
}
}
@media (max-width: 350px) { 
	.content-image img {
    width: 135px!important;
}
	.content-image {
    margin-bottom: 50px;
}
}
/* 320 */
@media (max-width: 576px)  { 
	.content-card {
    width: auto;
}
	.main-areaa__bottom__left img {
    height: 32px;
    margin-bottom: 5px;
}
	.sh-image {
    height: 49px!important;
	}
	.main-area__main-present img {
    max-width: 100%;
}
.main-area__title span {
	font-size: 25px;
	line-height: 10px;
}
.main-area__title {
	font-size: 17px;
}
.main-area__title__logo {
	width: 130px;
	margin-right: 0px;
	margin-bottom: 50px;
}
.main-area__title__logo {
	margin-top: 5px;
}
.main-area__bg-line { 
	display: none;
}
.main-area__atb img {
	margin-bottom: 10px;
	max-width: 40px;
}
.main-area__atb {
	font-size: 10px;
	line-height: 11px;
	display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.main-area__logos img {
	width: 90px;
	height: 40px;
	margin-right: 10px;
}

.main-area {
	padding: 0px 10px;
}
.footer__social {
	display: flex;
}
.footer__social img {
	width: 25px;
	margin-bottom: 3px;
}
.footer__phone {
	font-size: 13px;
}
.footer__top {
	align-items: end;
}
.main-area__logos {
	margin-bottom: 10px;
	flex-direction: column;
}
.content-stock {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}
.content__list__item a {
	font-size: 16px;
}
.content__list__item {
	margin-right: 10px;
}
.content-nav {
	margin-bottom: 15px;
	padding: 15px 10px 0px 10px;
	flex-direction: column;
	align-items: center;
}
.content__logo img {
	max-width: 230px;
}
.content__btn {
	font-size: 18px;
  padding: 15px 30px;
}
.content-image img {
	width: 185px;
}
.content-card {
	font-size: 16px;
	height: 50px;
}
.content-descr {
	font-size: 13px;
	padding: 25px 10px;
}
.content-descr span {
	font-size: 19px;
}
.content-card img {
	height: 53px;
  margin-right: 5px;
}
}

@media (max-width: 319px)  { 
.main-area__body {
	padding-top: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	margin-top: 620px;
}
}
}